@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #242424;
}

h1 {
  font-family: 'Lalezar', sans-serif;
  font-size: 80px;
  letter-spacing: 2px;
  text-shadow: 4px 4px 2px gray;
}

img {
  max-width: 100%;
}

.container {
  max-width: 70vw;
  margin: 22px auto;
}

.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.referencia {
  font-family: sans-serif;
  font-size: 20px;
  padding: 42px 0;
}
